<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExerciseTestSuite">
<!--<suite name="AutomationExerciseTestSuite" parallel="tests" thread-count="2"> for Parallel testing concept-->

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="listeners.TestListener"/>
    </listeners>


    <test name="RegressionTests">
        <classes>
            <class name="tests.TestCase1_RegisterUser"/>
            <class name="tests.TestCase6_ContactUsForm"/>
            <class name="tests.TestCase9_SearchProduct"/>
        </classes>
    </test>
</suite>
